<h1>Vista desde realTimeProducts</h1>
<h2>Lista de Productos</h2>
<table id="productos" class="table">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Code</th>
    <th>Price</th>
    <th>Status</th>
    <th>Stock</th>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {{#each products}}
  <tr id="{{this._id}}">
    <td>{{this._id}}</td>
    <td><input type="text" value="{{this.title}}" contenteditable="true" /></td>
    <td><input type="text" value="{{this.description}}" contenteditable="true" /></td>
    <td><input type="text" value="{{this.code}}" contenteditable="true" /></td>
    <td><input type="text" value="{{this.price}}" contenteditable="true" /></td>
    <td><input type="text" value="{{this.status}}" contenteditable="true" /></td>
    <td><input type="text" value="{{this.stock}}" contenteditable="true" /></td>
    <td><input type="text" value="{{this.category}}" contenteditable="true" /></td>
    <td>
      <button class="editButton" id="editButton_{{this._id}}" onclick="updateProduct('{{this._id}}')">Edit</button>
    </td>
    <td>
      <button class="deleteButton" id="deleteButton_{{this._id}}" onclick="deleteProduct('{{this._id}}')">Delete</button>
    </td>
  </tr>
  {{/each}}

</table>

<p id="notificationContainer"></p>

<form id="add-product-form" class="form">
  <legend>Add Product</legend>

  <label for="title">Title:
    <input type="text" id="title" name="title" required /></label>

  <label for="description">Description:
    <textarea id="description" name="description" required></textarea>
  </label>

  <label for="code">Code:<input type="text" id="code" name="code" required /></label>

  <label for="price">Price:
    <input type="text" id="price" name="price" pattern="\d+(\.\d{1,2})?" title="Ingrese un número válido"
      required /></label>

  <div class="status-container">
    <label for="status-true" class="status-label">Status:
      <div class="status-radios">

        <label for="status-true" class="status-option">True
          <input type="radio" id="status-true" name="status" value="true" checked />
        </label>

        <label for="status-false" class="status-option">False
          <input type="radio" id="status-false" name="status" value="false" />
        </label>
      </div>
    </label>

  </div>

  <label for="stock">Stock:
    <input type="number" id="stock" name="stock" required />
  </label>

  <label for="category">Category:
    <input type="text" id="category" name="category" required />
  </label>

  <label for="thumbnails">Thumbnails:
    {{!-- <input type="file" id="thumbnails" name="thumbnails" multiple /> --}}
    <input type="text" id="thumbnails" name="thumbnails" placeholder="Separar las URL de las imágenes por comas" />
  </label>

  <input type="submit" value="Add Product" />
</form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>